body{
    font-size: 16px;
    line-height: 1.5;
    background-color: #eff0f4;
    display: flex;
}

nav{
    background-color: blue;
    width: 20%;
    height: 100%;
    margin-right: 20px;
}

.navigation{
    padding: 10px;
}

.navigation a{
    text-decoration: none;
    color: black;
}

.navigation li{
    list-style-type: none;
}

.mainTitle{
    font-size: 2em;
}

/* FORM */
.login_form{
    width: 30vh;
}

.login_form h1{
    font-size: 3em;
}
.login_form label{
    font-size: 2em;
    margin-bottom: 5px;
}
.login_form input{
    margin-bottom: 10px;
}
.login_form button{
    margin-top: 10px;
}

.container-fluid{
    height: 100vh;
}

.row{
    border: #DF966D 3px solid;
    border-radius: 30px;
    box-shadow: #DF966D 10px 5px 5px;
    width: auto;
    padding: 3em 4em 3em 4em;
}

