/* HEAD */
body{
    font-size: 16px;
    line-height: 1.5;
    background-color: #eff0f4;
    display: flex;
}

/* NAV */

header{
    background-color: #da895b;
    width: 150px;
    height: 100vh;
}
.navigation{
    text-align: center;
}

.navigation ul{
    margin-top: 125px;
    padding: 0;
}

.navigation a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.navigation a:hover{
    text-decoration: underline;
}

.navigation li{
    list-style-type: none;
    margin-bottom: 5px;
}

.mainTitle{
    font-size: 2em;
}

/* CONNEXION */
.login_form{
    width: 30vh;
}

.login_form h1{
    font-size: 3em;
}
.login_form label{
    font-size: 2em;
    margin-bottom: 5px;
}
.login_form input{
    margin-bottom: 10px;
}
.login_form button{
    margin-top: 10px;
}

.container-fluid{
    height: 100vh;
}

.row{
    border: #DF966D 3px solid;
    border-radius: 30px;
    box-shadow: #DF966D 10px 5px 5px;
    width: auto;
    padding: 3em 4em 3em 4em;
}

/* BODY */
#container{
    display: flex;
    flex-direction: column;
    background-color: #eff0f4;
    width: 106%;
}

body > h1{
    font-size: 30px;
    background-color: red;
}

#body_title{
    background-color: #DF966D;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#body_create{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2em;
    background-color: #eff0f4;
}

#body_create a{
    border: 1px black solid;
    background-color: transparent;
    font-size: 20px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}

#body_create a:hover{
    background-color: #eed1c0;
}

#body_delete{
    border: 1px black solid;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}

#body_formSave{
    border: 1px black solid;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

#body_table a{
    border: 1px black solid;
    font-size: 15px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
}

#body_table a:first-child{
    background-color: #209a00;
    margin-bottom: 10px;
    justify-content: center;
}

#body_table a:last-child{
    background-color: orange;
    justify-content: center;
}

#body_table{
    background-color: #eff0f4;
}

.btn-actions{
    width: 30%;
}

#categoryActions{
    display: flex;
}

#categoryActions a:first-child{
    margin-right: 5px;
}

#categoryActions a:last-child{
    margin-bottom: 10px;
}

/* FORM  */

.my-custom-widget{
    background-color: blue;
}