/* HEAD */
body{
    font-size: 16px;
    line-height: 1.5;
    background-color: #eff0f4;
    display: flex;
}

/* NAV */

header{
    background-color: #da895b;
    position: fixed;
    width: 7em;
    height: 500vh;
}
.navigation{
    text-align: center;
}

.navigation ul{
    margin-top: 125px;
    padding: 0;
}

.navigation a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.navigation a:hover{
    text-decoration: underline;
}

.navigation li{
    list-style-type: none;
    margin-bottom: 5px;
}

.mainTitle{
    font-size: 2em;
}

/* CONNEXION */
.login_form{
    width: 200px;
}

.login_form h1{
    font-size: 2.5em;
}
.login_form label{
    font-size: 2em;
    margin-bottom: 0.5em;
    width: 7em;
}
.login_form input{
    margin-bottom: 0.5em;
}
.login_form button{
    margin-top: 0.5em;
}

.container-fluid{
    height: 100vh;
}

.row{
    border: #DF966D 3px solid;
    border-radius: 30px;
    width: 95%;
    padding: 3em 2em 3em 2em;
    margin: 0 10px 0 10px;
}

@media screen and (min-width: 426px){
    .row{
        box-shadow: #DF966D 10px 5px 5px;
        width: 60%;
        padding-left: 100px;
    }
}

@media screen and (min-width: 769px){
    .row{
        width: 500px;
        padding-left: 140px;
    }
}

/* BODY */
#container{
    display: flex;
    flex-direction: column;
    background-color: #eff0f4;
    margin-left: 7em;
    margin-bottom: 50px;
    width: 100%;
}

body > h1{
    font-size: 30px;
    background-color: red;
}

#body_title{
    background-color: #DF966D;
    text-align: center;
    padding: 30px 20px 30px 20px;
    width: 80vh;
}

@media screen and (min-width: 426px){
    #body_title{
        width: 100%;
    }
}

#eventTitle{
    background-color: #DF966D;
    text-align: center;
    padding: 30px 20px 30px 20px;
    width: 100vh;
}

@media screen and (min-width: 426px){
    #eventTitle{
        width: 125vh;
    }
}

@media screen and (min-width: 769px){
    #eventTitle{
        width: 175vh;
    }
}

@media screen and (min-width: 1025px){
    #eventTitle{
        width: 215vh;
    }
}

#body_create{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2em;
    background-color: #eff0f4;
}

#body_create a{
    border: 1px black solid;
    background-color: transparent;
    font-size: 20px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}

#body_create a:hover{
    background-color: #eed1c0;
}

#body_delete{
    border: 1px black solid;
    background-color: rgb(255, 64, 64);
    font-size: 20px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 30px;
}

@media screen and (min-width: 1023px){
    #body_delete{
        margin-left: 35px;
    }
}

#body_formSave{
    border: 1px black solid;
    background-color: rgb(48, 156, 189);
    font-size: 20px;
    padding: 0.3em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

#body_table a{
    border: 1px black solid;
    font-size: 15px;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
}

#body_table a:first-child{
    background-color: #209a00;
    justify-content: center;
    width: 90px;
    margin-top: -40px;
}

#body_table a:last-child{
    background-color: orange;
    justify-content: center;
    width: 90px;
    margin-top: -30px;
}

#body_table{
    background-color: #eff0f4;
    white-space: pre-wrap;
    width: 100%;
}

.eventTable td{
    padding: 0 20px 0 20px;
    width: 20px;
}

@media screen and (min-width: 769px){
    .eventTable th{
        width: 150px;
    }
}

.btn-actions{
    width: 30%;
}

#categoryActions{
    display: flex;
}

#categoryActions a:first-child{
    margin-right: 5px;
}

#categoryActions a:last-child{
    margin-bottom: 10px;
}   

/* FORM  */

#event, #category, #user{
    padding: 0 20px 0 20px;
}