{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="my-custom-widget">
    {# TODO #}
    </div>
    <button class="btn" id="body_formSave">{{ button_label|default('valider') }}</button>
{{ form_end(form) }}
