 {% form_theme form 'bootstrap_5_layout.html.twig' %}
 <div class="container"> 
    {{ form_start(form) }}
        {{ form_widget(form, {attr: {'novalidate': 'novalidate'}}) }}

        <button class="btn" id="body_formSave">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>
