{% extends 'base.html.twig' %}

{% block title %}Modifier le password{% endblock %}

{% block body %}
    <div id="container"> 
        <div id="body_title">
            <h1>Modifier le password</h1>
        </div>

        <div id="body_create">
            <a href="{{ path('app_user_profil',{'id': app.user.id}) }}">retour</a>
        </div>
            <div id="body_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>password</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                    
                                <tr>
                                    <td>{{ app.user.password }}</td>
                                </tr>
                        
                            </tbody>
                        </table>
                    </div>
   
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
       
        
    </div>
{% endblock %}
