{% extends 'base.html.twig' %}

{% block title %}Nouveau profil{% endblock %}

{% block body %}
    <div id="container"> 
        <div id="body_title">
            <h1>Créer un nouveau profil</h1>
        </div>

        <div id="body_create">
            <a href="{{ path('app_user_index') }}">retour</a>
        </div>
    {{ include('user/_form.html.twig') }}

    
{% endblock %}
